/* resultado.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/* Estilo para el encabezado de la tabla */
.color {
    background-color: #000000; 
    color: #ffffff;            
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Tabla de detalles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

/* Mensaje de producto no encontrado */
p {
    text-align: center;
    font-size: 1.1em;
    color: #666;
}

/* Botón de retorno */
.button {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}
